/* Animations */
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.blendOut {
	animation: hide .2s;
	animation-fill-mode: both;
}
.blendIn {
	animation:show .2s;
    animation-fill-mode:both
}
.invisvible {
	visibility: hidden;
}

/*---*/
@media screen and (min-device-pixel-ratio: 3/2) {
    body {
        font-size: 1.5em;
    }
}

* {
    box-sizing: border-box;
}
body {
    width: 100vmin;
    margin: 0 auto;
    overflow: hidden;
    font-size: 1.5em;
    font-family: sans-serif;
    }
label {
    margin-right: .2em;
}
button {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    font-size: .7em;
    border:none;
    width: 100%;
}
button > span {
    font-size: 3em;
}
button, #stats {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}
#countdown {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2vh;
    font-size: 5vh;
    text-align: center;
    background-color: rgba(77, 77, 77, 0.89);
    color: white;
    z-index: 255;
}

#goodAttempts > label {
    color: #20BF55;
}
#badAttempts > label {
    color: #FF366C;
}

#stats {
    padding: .5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    max-height: 10vh;
}
#board { 
    height: 90vh;
    display: flex;
    flex-wrap:wrap;
    align-content: flex-start;
}
@media screen and (min-aspect-ratio: 7/10) {
    body {
        width: 70vh;
        margin: auto;
    }
}
#theMiddle {
	width: 50vmin;
	height: 10px;
	z-index: -100;
}
#splashScreen {
    display: none;
	max-width: 800px;
	text-align: center;
}
#splashScreen a {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#splashScreen .points {
    margin: 15px;
    font-size: 2em;
}
.points {
    color: #00A6FF;
}
.goodAttempts {
    color: #20BF55;
}
.badAttempts {
    color: #FF366C;
}
.gameOver {
    margin-bottom: 1em;
}

.centercenter {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
/*Override*/
.chardinjs-tooltip {
	max-width: 400px;
}
/*end*/

.card {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-basis: 25%;
    height: 22vh;
    padding: 5px;
}
.card > .content.selected  {
    transform: scale(0.8);
}

.card > .content {
    border: 1px solid rgba(0,0,0,0.4);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
    width: 100%;
    padding: 1vh 0;
    transition: all 200ms ease-in-out;
}

.symbol {
    display: flex;
    border: 2px solid black;
    margin: 0 auto;
    width: 5vh;
    height: 5vh;
}
.symbol:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.symbol > .content {

}
.symbol.circle {
  border-radius: 100%;
}
.symbol.triangle {
  border-radius: 30%;
}
.symbol.lines.blue {
	background-color: rgba(0, 166, 255,.4);
}
.symbol.lines.red {
	background-color: rgba(255, 54, 108,.4);
}
.symbol.lines.green {
	background-color: rgba(32, 191, 85,.4);
}
.symbol.full.blue {
	background-color: #00A6FF;
}
.symbol.full.red {
	background-color: #FF366C;
}
.symbol.full.green {
	background-color: #20BF55;
}
.symbol.blue {
  border-color: #00A6FF;
}
.symbol.red {
  border-color: #FF366C;
}
.symbol.green {
  border-color: #20BF55;
}