/* Animations */
@keyframes show {
    from {
        transform:scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes hide {
    from {
        transform:scale(1);
    }
    to {
        transform: scale(0);
    }
}
.blendOut {
	animation: hide .2s;
	animation-fill-mode: both;
}
.blendIn {
	animation:show .2s;
    animation-fill-mode:both
}
.invisvible {
	visibility: hidden;
}

/*---*/
body {
    width: 100vmin;
    height: 100vmin;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
label {
    margin-right: .4em;
}
button {
	background-color: rgba(0, 0, 0, 0.65);
    color: white;
    font-size: large;
    border: 1px solid rgba(0,0,0,.4);
}

#countdown {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 2em;
    padding: 1em;
    text-align: center;
    background-color: rgba(77, 77, 77, 0.89);
    color: white;
}

#goodAttempts > label {
    color: green;
}
#badAttempts > label {
    color: red;
}

#stats {
	font-size: 2em;
	padding: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
#stats div {
    margin-right: 2em;
}
#board { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-grow: 1;
    transition: transform 200ms ease-in-out;
}
#theMiddle {
	width: 50vmin;
	height: 10px;
	z-index: -100;
}
#invalidSession {
	font-size: x-large;
	width: 50vmin;
	height: 1em;
	text-align: center;
}

.centercenter {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
/*Override*/
.chardinjs-tooltip {
	max-width: 400px;
}
/*end*/

.card {
    border: 1px solid rgba(0,0,0,0.4);
    margin: 1%;
    width: 17%;
    display: flex;
    flex-basis: 30%;
    transition: all 200ms linear;

}
.card:before {
	content: "";
	display: block;
	padding-top: 150%;
	}
.card.selected {
	border-color: black;
	box-shadow: 0 0 2px;
}

.card > .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.symbol {
	border: 3px solid black;
	position: relative;
	margin: 5px;
	width: 30%;
}
.symbol:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.symbol > .content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.symbol.circle {
  border-radius: 100%;
}
.symbol.triangle {
  border-radius: 30%;
}
.symbol.lines.blue {
	background-color: rgba(0, 166, 255,.4);
}
.symbol.lines.red {
	background-color: rgba(255, 54, 108,.4);
}
.symbol.lines.green {
	background-color: rgba(32, 191, 85,.4);
}
.symbol.full.blue {
	background-color: #00A6FF;/*rgba(0,0,255,1);*/
}
.symbol.full.red {
	background-color: #FF366C;/*rgba(255,0,0,1);*/
}
.symbol.full.green {
	background-color: #20BF55;/*rgba(0,128,0,1);*/
}
.symbol.blue {
  border-color: #00A6FF;
}
.symbol.red {
  border-color: #FF366C;
}
.symbol.green {
  border-color: #20BF55;
}